// Define variables for your color scheme

// For example:
$red: #FD1015;
$pink: #AF929D;
$purple: #D2D6EF;
$blue: #586F7C;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #D1D1D1;
$light-gray: #F4F4F4;
