<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514361892635-6b07e31e75f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
  <div class="container">
    <h1>The most exclusive cocktails just for you!</h1>
    <a class="btn btn-flat" href="#">
      <%= link_to 'Check-it out!', cocktails_path %>
    </a>
  </div>
</div>

