.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #D2D6EF;
  padding-top: 20px;
  padding-bottom: 20px;
}

#main-title {
  font-family: 'Monoton', cursive;
  color: pink;
}

