<div class="navbar">
  <h1 id="main-title">Meijer's Cocktails</h1>
  <div data-aos="fade-left"
     data-aos-anchor="#example-anchor"
     data-aos-offset="500"
     data-aos-duration="500">
    <i class="fas fa-cocktail"></i>
  </div>

  <form class="navbar-search pull-right">
    <input type="text" class="search-query" placeholder="Search for a cocktail">
  </form>
</div>
