<div class="navbar">
  <h1 id="main-title">Meijer's Cocktails <i class="fas fa-cocktail"></i></h1>
  <form class="navbar-search pull-right">
    <input type="text" class="search-query" placeholder="Search for a cocktail">
  </form>
</div>
